/*Header*/
header {  
        background: white;
        width:100%;  
}

header img {
    display: flex;
    margin:0 auto;
    width: 400px;
    height: 100px; 
}
.banner-podcast {
    width: 100%;
    height: 283px;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    font-size: medium;  
    margin: 0;
}

/* Navigatie */
nav ul {
    list-style-type: none;
    background-color:#03480c;
    margin-bottom: 0;
}

nav a { 
    color: white;
    text-decoration: none;
    display: flex;
    align-content: flex-start;
    padding: 1em;

}

nav a:hover {
    background-color: rgb(195, 37, 37);
}

nav li {
    display: inline-block;
}

/* Main */
main {
    margin: 3em;
}

main img {
    max-width: 250px;    
    max-height: 250px; 
}

/* Home pagina */
article a {
    background-color:rgb(195, 37, 37);
    color: white;
    padding: 0.5em 2em;
    text-decoration: none;
    border-radius: 0.5em;
    transition: padding 250ms ease;
    margin-bottom: 3em;
}

article a:hover {
    padding: 0.7em 2.7em;
}

article a:focus {
    background-color: black;
}

.hoofdartikel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.hoofdartikel p {
    margin-right: 3em;
}

.hoofdartikel ul{
    display: flex;
    list-style-type: none;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
}

.teaservideo {
    font-size: xx-large;
    justify-content: center;
    margin-top: 0;
    padding: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    max-width: 50%;
    border: 1px solid black;
}

/* Volgende code van powerpoint presentatie 4a*/ 
/* over ons pagina */

.overons{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 2em;
}

.artikelen-overons {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
    margin: 1em;
    width: 15em;
    overflow:hidden;
}

.artikelen-overons img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.artikelen-overons h2 {
    font-weight: bold;
}

.artikelen-overons button {
    display: block;
    width: 100%;
    padding: 1em;
    background-color:rgb(195, 37, 37);
    color: white;
    text-align: center;
    border-radius: 0.5em;
    transition: background-color 0.3 ease;
}

.overons-info {
    padding: 0.5em 1.5em 1em 1.5em;
}
.overons-info p {
    padding-bottom: 1em;
}
/* Hier stopt code van powerpoint presentatie 4a*/ 


p a {
    color:rgb(195, 37, 37);
}

h1 {
    color: black; 
    padding-top: 0.5em;
    font-size: 2em;
}

h2 { 
    font-style: inherit;
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

/* Afleveringen pagina */
.Aflevering {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 2em;
}

.afleveringen-info {
    padding-left: 1em;
}

.afleveringen-info a {
    display: block;
    width: 10em;
    padding: 1em;
    margin-top: 2em;
    background-color:rgb(195, 37, 37);
    color: white;
    text-align: center;
    border-radius: 0.5em;
    text-decoration: none;
}

.afleveringen-info p {
    font-style: italic;
}

/* Footer */
footer {
     display: flex;
     flex-direction: row;
     justify-content: center;
     text-align: center;
     background:#03480c; 
     color: white;
 }

footer li {
    list-style-type: none;
}
    
footer p {
    margin: 0;
}
